body {
	font-family: Lato;
	background: #c0c0aa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
	color: white;
}

.row-centered {
	color: white;
}
.container {
	background: #c0c0aa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	
}

.navbar {
	background: #c0c0aa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pressable {
	margin-top: 5px;
}
.example {
	border: 1px solid black;
	border-radius: 8px;
	height: 420px;
	max-width: 800px;
	margin: 0 auto;
}
.spacex2 {
	height: 2em;
	
}

.spacex5 {
	height: 5em;
}

.spacex10 {
	height: 10em;
	
}

.add-to-slack {
	margin-top: 30px;
}

div {
	
}

.testimonial-big-box {
	height: 500px;
	background-color: gray;
}

.logos {
	margin: 20px;
}

#customers {
	text-align: center;
}