body {
	font-family: Lato;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
	color: white;
}

.row-centered {
	color: white;
}
.container {
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
	background-color: transparent;
	border: transparent;
	color: white;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav .navbar-nav .navbar-right {
	color: white;
}

.pressable {
	margin-top: 5px;
}

.example {
	border: 1px solid black;
	border-radius: 8px;
	height: 420px;
	max-width: 800px;
	margin: 0 auto;
}
.example .channels .header {
	font-size: 14px;
	color: #666666;
	padding: 20px;
}
.example .channels .user-row .activity {
	height: 12px;
	width: 12px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
}

.example .channels .channel {
	padding-bottom: 20px;
	font-size: 18px;
	padding-left: 20px;
	color: #666666;
}

.example .channels .user-row {
	padding-top: 10px;
	padding-left: 20px;
}

.example .channels .user-row .user {
	font-size: 18px;
	display: inline-block;
}

.example .channels .group-row .group {
	font-size: 18px;
	display: inline-block;
	margin-left: 20px;
}

.example .channels .group-row .count {
	text-align: center;
	display: inline-block;
	color: #58BAB4;
	font-size: 10px;
	background-color: white;
	border-radius: 2px;
	margin-right: 10px;
	width: 12px;
	line-height: 14px;
	float: left;
	margin-top: 6px;
}

.example .messages .avatar.donut {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	display: inline-block;
	float: left;
	margin-left: 20px; 
}

.example .message .avatar.purple {
	background-color: #855BDA;
}
.example .message .avatar.green {
	background-color: #58BAB4;
	margin-top: 15px;
}
.example .message .avatar {
	width: 64px;
	height: 64px;
	border-radius: 8px;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

.highlight {
	display: inline;
	color: #58BAB4;
}

.example .message .text.offset {
	padding-top: 10px;

}
.example .message .message-copy .username {
	font-weight: bold;
	font-size: 18px;
	margin-left: 20px;
	display: inline;
	color: black;
}
.example .message .message-copy .text {
	display: inline-block;
	font-size: 18px;
	line-height: 1.4;
	margin-left: 20px;

}
.spacex2 {
	height: 2em;
}

.spacex5 {
	height: 5em;
}

.spacex10 {
	height: 10em;
}

.add-to-slack {
	margin-top: 30px;
}




.message-copy {
	display: inline-block;
}

.testimonial-big-box {
	height: 500px;
	background-color: gray;
}

.logos {
	margin: 40px;
}

#customers {
	text-align: center;
}